@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@700&display=swap');

body {
    font-family: 'Manjari', sans-serif;
    color: rgb(48, 101, 114);
    background-image: url('../assets/images/patterncolor.png');
    background-size: 1080px 1080px;
    background-position: fixed;
    
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;

}
  
h1 {
    font-family: 'Manjari', sans-serif;
    color:rgb(48, 101, 114);
    margin-bottom: -5px;
    font-size: 45pt;}
    
nav{
    margin-top: 50px;
}
select, input {
    font-family: inherit;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 0.9em;
    transition: all 300ms ease-in-out;
    }

input:focus,
select:focus,
button:active,

.overview:focus {
    outline: none;
    box-shadow: 0 0 0 5px rgba(35, 37, 39, 0.4);
    }
.headerlogo {
    display: flex;
    justify-content: left;
    
}
.logo {
    font-family: 'Manjari', sans-serif;
    font-size: 25px;
    color: rgb(48, 101, 114);
    margin-top: -2px;
    margin-bottom: 10px;
    }

/*make navbar text inline*/
/*.navbar h3, form {
    display:inline;
}*/
